header {
	text-align: center;
}


a {
	color: red;
	text-decoration: none;
	border-bottom: 1px dotted;
	color: #ff8a80;
}


body {
    word-spacing: 0.1em;
    max-width: 960px;
    margin: 0 auto;
}


.symbol1 {
	text-align: center;
	font-size: 300%;
}

.text1 {

    font: large/1.556 "Palatino Linotype";
  word-spacing: 0.1em;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 2em;
	
}

.text2 {

	color: #B22222;
	border-bottom: 1px dotted;
	font-weight: 100;
}


.box1 {

	margin: 1.75em 0;
    margin-top: 1.75em;
    margin-right: 0px;
    margin-bottom: 1.75em;
    margin-left: 0px;
}

.footer {
	text-align: center;
}

#footerURL {

	color: black;
}


	


